h1{
  display: inline-block;
}
.key{
  display: inline-block;
  border: 2px solid black;
}
.piano{
  position: relative;
  left: 146px;
  color: rgba(0, 0, 0, 0);
  margin-left: 25%;
  top: 58px;
}
.white{
  background-color: #CCC;
  height: 200px;
  width: 40px;
}
.black{
  background-color: black;
  height: 100px;
  width: 20px;
  position: relative;
  top: 0;
  z-index: 2;
}
.s{
  background-color: black;
  height: 100px;
  width: 25px;
  position: relative;
  z-index: 2;
  right: 281px;
}

.d{
  background-color: black;
  height: 100px;
  width: 25px;
  position: relative;
  z-index: 2;
  right: 267px;
}
.g{
  background-color: black;
  height: 100px;
  width: 25px;
  position: relative;
  z-index: 2;
  right: 208px;
}
.h{
  background-color: black;
  height: 100px;
  width: 25px;
  position: relative;
  z-index: 2;
  right: 193px;
}
.j{
  background-color: black;
  height: 100px;
  width: 25px;
  position: relative;
  z-index: 2;
  right: 178px;
}
.pressed{
  background-color: #979392;
}
.message{
  font-size: 12px;
}
